@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    body{
        @apply font-[Poppins];
        overflow-x: hidden;
    }
    button{
        @apply border border-black px-3 py-1 rounded-full;
    }
}
